<div id="<%= dom_id static_website %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= static_website.organization_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= static_website.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= static_website.slug %>
  </p>

</div>
