# Necessary:
LLAMABOT_API_URL: "http://app:8000"
REDIS_URL: "redis://redis:6379/1"
LLAMABOT_WEBSOCKET_URL: "ws://app:8000/ws"

#LlamaBot env variables.
OPENAI_API_KEY=(your api key) 
DB_URI=postgres://user:password@db:5432/llamapress

# Optional: 
LLAMABOT_API_KEY: "sk-<your llama-bot key>" #additional layer of authentication in the future.

# DATABASE_URL: "postgres://user:password@db:5432/llamapress"
LLAMA_PRESS_DATABASE_PASSWORD: "your-psql-password"

# Only necessary for production if you want to attach files in AWS s3 (highly recommended) 
AWS_KEY: ''
AWS_PASS: ''
AWS_BUCKET: 'bucket-name'
AWS_REGION: 'us-west-2'

# Optional  
xOVERRIDE_DOMAIN: "llamapress.ai" #useful when testing locally, and need the domain to match. 
HOSTED_DOMAIN: "localhost:3000"
FULL_HOSTED_DOMAIN: "http://localhost:3000"
# HOSTED_DOMAIN: "llamapress.ai" # this is the domain that has an A Record to this specific LlamaPress instance on AWS, and helps us not send users to this site if they're trying to access a domain that has a site associated with it. See pages#home controller method.

# Optional
TWILIO_AUTH: ''
TWILIO_SID: ''
TWILIO_NUMBER: ''