<div id="<%= dom_id snippet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= snippet.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= snippet.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Site:</strong>
    <%= snippet.site_id %>
  </p>

</div>
