<div id="<%= dom_id page %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">web site:</strong>
    <%= page.site_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= page.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= page.slug %>
  </p>

</div>
