<div id="<%= dom_id submission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Data:</strong>
    <%= submission.data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Site:</strong>
    <%= submission.site_id %>
  </p>

</div>
