<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing chat message</h1>

  <%= render "form", chat_message: @chat_message %>

  <%= link_to "Show this chat message", @chat_message, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to chat messages", chat_messages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
