<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Chat messages" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Chat messages</h1>
    <%= link_to "New chat message", new_chat_message_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="chat_messages" class="min-w-full">
    <% @chat_messages.each do |chat_message| %>
      <%= render chat_message %>
      <p>
        <%= link_to "Show this chat message", chat_message, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
