<div id="<%= dom_id static_web_site %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Organization:</strong>
    <%= static_web_site.organization_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= static_web_site.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= static_web_site.slug %>
  </p>

</div>
